<a href="https://colab.research.google.com/github/dammy4real75/data-learnig/blob/main/Avado_Training_05_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Avado Training 05/11

In [2]:
6-3

3

In [3]:
y=3
x=4
print(x+y)

7

In [6]:
x=10
if x%2 ==0:
  print("This is an even number!")

This is an even number!

In [19]:
x=0.2
if x%2==0:
  print("This is an even number!")
else:
  print("This id an odd number")

This id an odd number

In [21]:
a=10
b=12
if a<b:
 print("The first value is smaller than the second")
elif a==b:
  print("The first value is equal to the second")
else:
  print("The first value is greater than the second")

The first value is smaller than the second

In [24]:
a=-1
if a>0:
  print("The number is positeve")
elif a<0:
  print("The number is negative")
else:
  print("The number is zero")

The number is negative

In [28]:
for i in range(0,11):
 print(i)

0
1
2
3
4
5
6
7
8
9
10

In [31]:
for i in range(0,11):
  print("The iteration number is {}".format(i))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5
The iteration number is 6
The iteration number is 7
The iteration number is 8
The iteration number is 9
The iteration number is 10

In [35]:
i=0
while i<=11:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10
11

In [41]:
targetvalue=10
iterate =0
while iterate<targetvalue:
  print("Iteration no is {}, which is less than the target value {}".format(iterate,targetvalue))
  iterate =iterate+1
print("THE END!")

Iteration no is 0, which is less than the target value 10
Iteration no is 1, which is less than the target value 10
Iteration no is 2, which is less than the target value 10
Iteration no is 3, which is less than the target value 10
Iteration no is 4, which is less than the target value 10
Iteration no is 5, which is less than the target value 10
Iteration no is 6, which is less than the target value 10
Iteration no is 7, which is less than the target value 10
Iteration no is 8, which is less than the target value 10
Iteration no is 9, which is less than the target value 10
THE END!

In [43]:
colours =["Black", "Blue", "Red", "White"]
cars =["Range","Tesla","Ford"]
for colour in colours:#outer loop
  for car in cars:#inner loop
    print(colour,car)

Black Range
Black Tesla
Black Ford
Blue Range
Blue Tesla
Blue Ford
Red Range
Red Tesla
Red Ford
White Range
White Tesla
White Ford

In [44]:
for i in range(1,6):#outer loop
  for j in range(1,11):#inner loop
    print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [45]:
for i in range(1,6):#outer loop
  for j in range(1,11):#inner loop
    print(i*j,end="")

123456789102468101214161820369121518212427304812162024283236405101520253035404550

In [46]:
for i in range(1,6):#outer loop
  for j in range(1,11):#inner loop
    print(i*j,end=" ")

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50

In [47]:
for i in range(1,6):#outer loop
  for j in range(1,11):#inner loop
    print(i*j,end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [52]:
targetvalue=10
iterate =0
while iterate<targetvalue:
  print("Iteration number is {}, which is less than the target value {}".format(iterate,targetvalue))
  if iterate==5:
   break
  iterate =iterate+1

Iteration number is 0, which is less than the target value 10
Iteration number is 1, which is less than the target value 10
Iteration number is 2, which is less than the target value 10
Iteration number is 3, which is less than the target value 10
Iteration number is 4, which is less than the target value 10
Iteration number is 5, which is less than the target value 10

In [53]:
targetvalue=10 #break statement
iterate =0
while iterate<targetvalue:
  print("Iteration number is {}, which is less than the target value {}".format(iterate,targetvalue))
  if iterate==5:
   break
  iterate =iterate+1

Iteration number is 0, which is less than the target value 10
Iteration number is 1, which is less than the target value 10
Iteration number is 2, which is less than the target value 10
Iteration number is 3, which is less than the target value 10
Iteration number is 4, which is less than the target value 10
Iteration number is 5, which is less than the target value 10

In [54]:
names=["Sylvie,","Mercy","Kate","Zara"]
for i in names:
  if i =="Kate":
    continue
  print(i)

Sylvie,
Mercy
Zara

In [61]:
targetvalue =10
iteratevalue=0
while iteratevalue<targetvalue:
  iteratevalue=iteratevalue+1
  if iteratevalue==5:
   continue
  print("Iteration number is {}, which is less than the target value {}".format(iteratevalue,targetvalue))

Iteration number is 1, which is less than the target value 10
Iteration number is 2, which is less than the target value 10
Iteration number is 3, which is less than the target value 10
Iteration number is 4, which is less than the target value 10
Iteration number is 6, which is less than the target value 10
Iteration number is 7, which is less than the target value 10
Iteration number is 8, which is less than the target value 10
Iteration number is 9, which is less than the target value 10
Iteration number is 10, which is less than the target value 10

#LISTS

Ordered, Changeable,allows duplicates

In [62]:
mylist=["Michael","Sean","Adam"]
type(mylist)

list

In [65]:
mylist=["Michael","Sean","Adam"]
mylist[-1]

'Adam'

In [66]:
mylist=["Michael","Sean","Adam"]
mylist[0]="Paul"
print(mylist)

['Paul', 'Sean', 'Adam']

In [68]:
mylist=["Michael","Sean","Adam",True,5000]
len(mylist)

5

In [69]:
mylist=["Michael","Sean","Adam"]
if "Sean" in mylist:
  print("Yes the element is found")

Yes the element is found

In [70]:
mylist=["Michael","Sean","Adam"]
mylist.insert(0,"Zara")
print(mylist)

['Zara', 'Michael', 'Sean', 'Adam']

In [71]:
mylist=["Michael","Sean","Adam"]
mylist.append("Paul")
print(mylist)

['Michael', 'Sean', 'Adam', 'Paul']

In [73]:
mylist1=["Michael","Sean","Adam"]
mylist2=["zara","Elina","John"]
mylist2.extend(mylist1)
print(mylist2)

['zara', 'Elina', 'John', 'Michael', 'Sean', 'Adam']

In [75]:
my_list = ['apple','banana','pineapple','pear','orange','grapes']
value = input("Please enter a fruit:\n")
if value in my_list:
  print("{} is in my list".format(value))
elif value not in my_list:
  print("{} is NOT in my list".format(value))

Please enter a fruit:
guava
guava is NOT in my list

# Tuple

ordered, unchangeable, allows duplicate()

In [76]:
mytuples=("Audi","Ford","Tesla",5000,True)
type(mytuples)

tuple

In [77]:
mytuples=("Audi","Ford","Tesla",5000,True)
mytuples[0:3]

('Audi', 'Ford', 'Tesla')

In [78]:
mytuple=("Audi","Ford","Tesla")
mylist=list(mytuple)
mylist[0]="Toyota"
mytuple=tuple(mylist)
print(mytuple)

('Toyota', 'Ford', 'Tesla')

In [79]:
mytuple=("Audi","Ford","Tesla")
print(mytuple.index("Tesla"))

2

In [81]:
mytuple=("Audi","Ford","Audi","Tesla")
print(mytuple.count("Audi"))

2

In [83]:
mytuple=("Audi","Ford","Tesla")
for i in mytuple:
  print(i)

Audi
Ford
Tesla

In [87]:
mytuple=("Audi","Ford","Tesla")#unpacking
car1,car2,car3 =mytuple#unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

# Sets

unordered, unchageable*,not allow duplicates

In [89]:
myset={"Audi","Ford","Tesla",5000,True}
type(myset)

set

In [90]:
myset={"Audi","Ford","Tesla",5000,True}
len(myset)

5

In [91]:
myset={"Audi","Ford","Tesla",5000,True}
for i in myset:
  print(i)

True
5000
Tesla
Ford
Audi

In [92]:
myset={"Audi","Ford","Tesla",5000,True}
myset.add("BMW")
print(myset)

{True, 5000, 'Tesla', 'Ford', 'Audi', 'BMW'}

In [93]:
myset={"Audi","Ford","Tesla",5000,True}
myset.pop()
print(myset)

{5000, 'Tesla', 'Ford', 'Audi'}

In [94]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset3=myset1.union(myset2)
print(myset3)

{1, 2, 3, 4, 5, 6}

In [95]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.issubset(myset2)

True

In [96]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.issuperset(myset2)

False

In [97]:
import numpy as np

In [98]:
import pandas as pd

In [99]:
import seaborn as sns

In [100]:
import matplotlib.pyplot as plt

In [101]:
import math

In [102]:
import scipy

In [ ]:
[] #pyodbc